.genre-view.card {
  max-width: 80% !important;
  background-color: #00000000;
  border: none;
  margin-inline: auto;
  margin-bottom: 75px;
}

.genre-name,
.genre-description {
  color: #212121 !important
}
