.detail-view.card {
  max-width: 80% !important;
  background-color: #00000000;
  border: none;
  margin-inline: auto;
  margin-bottom: 75px;
}

.detail-view-row {
  display: flex;
  justify-content: space-evenly;
}

.detail-view.movie-poster {
  max-width: 500px !important;
  margin-inline: auto;
}

.detail-view-poster-container {
  max-width: 500px !important;
}

.detail-view-content-outer-container {
  display: flex;
  width: 1200px !important;
}

.detail-view-content-inner-container {
  text-align: center;
  margin-top: 20px;

}

.movie-title,
.movie-description {
  color: #212121 !important;
}

.movie-title {
  font-family: "Iceberg", cursive !important;
  font-size: 2rem !important;
}

.detail-navigation {
  margin-bottom: 40px;
  width: 100%;
  display: inline-flex;
  align-self: center;
  justify-content: space-around;
}
