.movie-view.card {
  max-width: 60%;
  background-color: #77685D;
  border-radius: 5px;
  max-width: 500px;
}

.movie-view.movie-poster {
  width: 15rem;
  margin-inline: auto;
}

.movie-title,
.movie-description {
  color: white !important;
}

.detail-navigation {
  margin-bottom: 40px;
  width: 100%;
  display: inline-flex;
  align-self: center;
  justify-content: space-around;
}
