.search-input-container {
  margin: 1rem !important;
}

.movie-card-container {
  max-width: fit-content;
}

.movie-list-container {
  max-width: 1400px !important;
}

.movies-list-spacer {
  display: block;
  content: "";
  margin-top: 75px;
}
