$color: steelblue;

html {
  overflow-y: scroll;
}

body {
  font-family: 'Istok Web' !important;
}

.movie-app {
  color: $color;
}

.app-container {
  background: linear-gradient(180deg, rgba(56, 14, 174, 0.24) 0%, rgba(0, 0, 0, 0) 5.24%) fixed, #F7F4F3;
  height: 100%;
}


.main-view-container {
  margin: 0;
  padding: 0 !important;
  min-height: 100vh;
  max-width: 90vw;
}

// Custom Bootstrap Components

.btn-movie-detail, .btn-movie-active-detail {
  background-color: rgb(72, 61, 63) !important;
  border-color: #00000000;
  color: white !important;
  margin: 5px;
  width: 100px;
}

.btn-movie-active-detail {
  background-color: rgb(204, 29, 61) !important;
}

.btn-credential {
  background-color: #380EAE !important;
  border-color: #00000000;
  color: white !important;
  margin: 5px;
  height: 40px;
  width: 10rem;
}
