$color: steelblue;

html {
  font-family: 'Istok Web', sans-serif;
}

.movie-app {
  color: $color;
}

.app-container {
  background-color: rgb(244, 235, 217);
  height: 100%;
}


.main-view-container {
  margin: 0;
  padding: 0 !important;
  min-height: 100vh;
}

// Custom Bootstrap Components

.btn-movie-detail {
  background-color: rgb(72, 61, 63) !important;
  border-color: #00000000;
  color: white !important;
  margin: 5px;
}

.btn-favorite {
  background-color: rgb(72, 61, 63) !important;
  border-color: #00000000;
  color: white !important;
  margin: 5px;
}

.btn-favorite:hover {
  background-color: rgb(72, 61, 63) !important;
  border-color: #ebb505 !important;
  color: #ebb505 !important;
  margin: 5px;
}
