$color: steelblue;

.movie-app {
  color: $color;
}

.app-container {
  background-color: rgb(244, 235, 217);
  height: 100%;
}


.main-view-container {
  margin: 0;
  padding: 0 !important;
  min-height: 100vh;
}
